/.quarto/
.quarto/
**/*.quarto_ipynb
.Rproj.user
.Rproj.user/
*.Rproj.user
.Rhistory
.RData
.Ruserdata

renv/library/
renv/staging/
renv/sandbox/
renv/python/
renv/local/
renv/cellar/
renv/lock/

*_cache/
*_files/
*.utf8.md
*.knit.md

*.log
*.tmp
*.temp
*.bak
*.backup

